@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
}






.parent {
  display: flex;
  flex-wrap: wrap;
  background-color: #777;
  justify-content: start;
  align-items: center;
  min-width: 55vw;
  flex-grow: 1;
}

.child {
  background-color: #f1f1f1; 
  margin: 4px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
